  <!--   <ion-header [translucent]="true">
    <ion-toolbar>
   <ion-title> Mental Shower </ion-title>
    </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
    <div id="container">


        <h1>The Mental Shower Survey</h1>
<p class="main-description" style="width: 40%; margin: auto; text-align: left;">The Mental Shower survey helps us to provide the best climate for you, wherever you are in the classroom.<br>By selecting how you personally experienced the room temperature, air quality, and humidity during the last hour, our system will adjust it to better fit your comfort.</p>
<p>&nbsp;</p>

        <p><strong>Please choose which classroom you are in:</strong></p>
        <div class="divlist">
            <ion-select placeholder="Choose your class" class="selectClass">
                <ion-select-option value="D.3.05" disabled="false">D.3.05</ion-select-option>
                <ion-select-option value="D.3.06" disabled="false">D.3.06</ion-select-option>
            </ion-select>
        </div>

        <div class="selectZone">

            <p><strong>Please choose which area of the classroom you are sitting in:</strong>></p>
            <img src="assets/classroom-top.png" class="image-classroom-top">

            <div>
                <ion-grid class="classroom-grid">
                    <ion-row>
                        <ion-col size="3">
                            <ion-button [ngClass]="{ 'active' : isValue == 1 }" (click)="toggle(1)" type="button" color="light"><span class="checkmark">&check;</span></ion-button>
                        </ion-col>
                        <ion-col size="3">
                            <ion-button [ngClass]="{ 'active' : isValue == 2 }" (click)="toggle(2)" type="button" color="light"><span class="checkmark">&check;</span></ion-button>
                        </ion-col>
                        <ion-col size="3">
                            <ion-button [ngClass]="{ 'active' : isValue == 3 }" (click)="toggle(3)" type="button" color="light"><span class="checkmark">&check;</span></ion-button>
                        </ion-col>
                        <ion-col size="3">
                            <ion-button [ngClass]="{ 'active' : isValue == 4 }" (click)="toggle(4)" type="button" color="light"><span class="checkmark">&check;</span></ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3">
                            <ion-button [ngClass]="{ 'active' : isValue == 5 }" (click)="toggle(5)" type="button" color="light"><span class="checkmark">&check;</span></ion-button>
                        </ion-col>
                        <ion-col size="3">
                            <ion-button [ngClass]="{ 'active' : isValue == 6 }" (click)="toggle(6)" type="button" color="light"><span class="checkmark">&check;</span></ion-button>
                        </ion-col>
                        <ion-col size="3">
                            <ion-button [ngClass]="{ 'active' : isValue == 7 }" (click)="toggle(7)" type="button" color="light"><span class="checkmark">&check;</span></ion-button>
                        </ion-col>
                        <ion-col size="3">
                            <ion-button [ngClass]="{ 'active' : isValue == 8 }" (click)="toggle(8)" type="button" color="light"><span class="checkmark">&check;</span></ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <img src="assets/classroom-bottom.png" class="image-classroom-bottom">

        <p>&nbsp;</p>
     <p>
        <ion-button (click)="nextPage()">NEXT</ion-button>
    </p>
    <p>&nbsp;</p>

    </div>
</ion-content>