<!--   <ion-header [translucent]="true">
    <ion-toolbar>
   <ion-title> Mental Shower </ion-title>
    </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>The Mental Shower Survey</h1>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
      <ion-col size="12" size-sm>
    <p class="main-description" style="text-align: left">
      The Mental Shower survey helps us to provide the best climate for you,
      wherever you are in the classroom.<br />By selecting how you personally
      experienced the room temperature, air quality, and humidity during the
      last hour, our system will adjust it to better fit your comfort.
    </p>
  </ion-col>
  <ion-col></ion-col>
</ion-row>
</ion-grid>

    <p>&nbsp;</p>

    <p><strong>Please choose which classroom you are in:</strong></p>
    <div class="divlist">
      <ion-button (click)="showRoom('d305')"> D.3.05 </ion-button>
      <ion-button (click)="showRoom('d306')"> D.3.06 </ion-button>
    </div>

<ion-grid>
<ion-row>
  <ion-col></ion-col>
<ion-col size="12" size-sm>





    <div *ngIf="show == 'd305'" >
      <div id="room-d305" class="selectZone">
        <p>
          <strong>Please choose which area of the D.3.05 classroom you are sitting
            in:</strong>
        </p>
        <img src="assets/classroom-top.png" class="image-classroom-top" />

        <div>
          <ion-grid class="classroom-grid">
            <ion-row>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 1 }"
                  (click)="toggle(1)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 2 }"
                  (click)="toggle(2)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 3 }"
                  (click)="toggle(3)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 4 }"
                  (click)="toggle(4)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 5 }"
                  (click)="toggle(5)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 6 }"
                  (click)="toggle(6)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 7 }"
                  (click)="toggle(7)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 8 }"
                  (click)="toggle(8)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <img src="assets/classroom-bottom.png" class="image-classroom-bottom" />

      </div>
    </div>


    <div *ngIf="show == 'd306'" >
      <div id="room-d306" class="selectZone">
        <p>
          <strong>Please choose which area of the D.3.06 classroom you are sitting
            in:</strong>
        </p>
        <img src="assets/classroom-top.png" class="image-classroom-top" />

        <div>
          <ion-grid class="classroom-grid">
            <ion-row>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 9 }"
                  (click)="toggle(9)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 10 }"
                  (click)="toggle(10)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 11 }"
                  (click)="toggle(11)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 12 }"
                  (click)="toggle(12)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 13 }"
                  (click)="toggle(13)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 14 }"
                  (click)="toggle(14)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 15 }"
                  (click)="toggle(15)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
              <ion-col size="3">
                <ion-button
                  [ngClass]="{ 'active' : isValue == 16 }"
                  (click)="toggle(16)"
                  type="button"
                  color="light"
                  ><span class="checkmark">&check;</span></ion-button
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <img src="assets/classroom-bottom.png" class="image-classroom-bottom" />

      </div>
    </div>

  </ion-col>
  <ion-col></ion-col>
  </ion-row>  
  </ion-grid>










    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ion-button [disabled]="btnDisabled" (click)="nextPage()">NEXT</ion-button>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</ion-content>
